.task-table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.table-header, .task-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.task-row {
  transition: background-color 0.2s;
}

.task-row:hover {
  background-color: #f5f5f5;
}

.task-actions{
  display: flex;
  align-items: center;
}

.task-actions button {
  margin-right: 5px;
  padding: 2px 5px;
}

.table-body{
  height: 85%;
  overflow: auto;
}