.modal-project{
    width: 80%;
    height: 80%;
    display: flex;
    gap: 10px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 25px;
}

.modal-menu{
    width: 60px;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-menu div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn-modal{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-modal:hover{
    background-color: #000;
    color: #fff;
}

.sep-v{
    width: 2px;
    height: 95%;
    background-color: #000;
    align-self: center;
}

.modal-content-info{
    width: calc(100% - 90px);
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-close{
    width: 40px;
    height: 40px;
    position: fixed;
    top: calc(10% - 20px);
    right: calc(10% - 20px);
    background-color: #fff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}